{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block content %}

<div class="content-container container-fluid">     
    <div class="my-4">
        <div class="content-background-colour rounded px-0">
            <div class="py-2 px-3 ">
              
                <div class="row">
                    <h1>{% trans "Sign Up" %}</h1>
                </div>
          
                <div class="row">
                    <p>{% blocktrans %}Already have an account? Then please
                        <a id="sign-in" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                </div>
                <hr class="content-divider mt-2 mb-4 mx-0">

                <div class="row">
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="d-flex flex-column align-items-center">
                        <div class="col-9 d-flex flex-column align-items-end">
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        </div>
                        </div>
                        <hr class="content-divider mt-2 mb-2 mx-0">
                        <div class="row justify-content-center">
                            <button class="page-button rounded border-0 text-center" type="submit" style="width: 85px;" >{% trans "Sign Up" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}
