<!-- Django messages -->
<div class="container-fluid messages">
    <div class="row">
        <div class="col-8 offset-2">
            {% for message in messages %}
            <div class="alert alert-secondary {{ message.tags }} alert-dismissible
                fade show my-3" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>