/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Pixelify Sans", sans-serif;
    --secondary-font: "Roboto", sans-serif;
    --primary-color: 	#313a32; /* Dark Green */
    --secondary-color: #363e52; /* Navy Blue */
    --text-color: #2a2a2a; /* Black */
    --accent-color: #FF6F61; /* Coral */
    --background-color: #F2F2F2; /* Mist Grey */
}

/* Global styles */

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--background-color);
}

h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

/* Navbar styles with dropdown toggle */

.navbar {
    background-color: var(--primary-color);
    min-height: 7vh;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
    font-family: var(--primary-font);
    font-size: 24px;
}

.logo {
    align-items: start;
    max-height: 50px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.collapse {
    padding-left: 25px;
}

/* Carousel */

.hero-img {
  object-fit: cover;
  width: 100%;
  min-height: 10vh;
  max-height: 40vh;
}

/* Upload feed */

#discover .container {
  max-height: 300px;
}
.container {
  aspect-ratio: 1/1;
}
.card-body h2 {
  font-weight: 600;
  font-family: var(--primary-font);
}
.card-body p {
  font-family: var(--secondary-font);
}
.card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 40vh;
}
.card:hover {
  transform: translateY(-4px);
  transition: 0.2s ease-in-out;
}

/* ----------------------------
   Standard breakpoint media queries
   XS: <576px, SM: 576-767.98px, MD: 768-991.98px,
   LG: 992-1199.98px, XL: >=1200px
   ---------------------------- */