/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Stack+Sans+Text:wght@200..700&display=swap');

/* Global font and colour control */

:root {
  /* Fonts */
  --font-sans: 'Merriweather', sans-serif;
  --font-heading: 'Stack Sans Text', sans-serif;

  /* Theme colors */
  --color-primary:#2660A4;
  --color-secondary:#EDF7F6;
  --color-highlight:#F19953;
  --color-muted: #C47335;
  --color-text: #111827;

    /* Layout */
  --max-content-width: 1400px;

  /* Base font size: fluid between 14px and 18px */
  --fs-base: clamp(0.875rem, 0.85rem + 0.3vw, 1.125rem); /* ~14px - 18px */
  --fs-scale-1: clamp(1.125rem, 1.05rem + 1.0vw, 1.5rem); /* h6 / small headings */
  --fs-scale-2: clamp(1.25rem, 1.15rem + 1.25vw, 1.75rem); /* h4 */
  --fs-scale-3: clamp(1.5rem, 1.35rem + 1.75vw, 2.25rem); /* h3 */
  --fs-scale-4: clamp(2rem, 1.9rem + 2.5vw, 3rem); /* h2 */
  --fs-scale-5: clamp(2.5rem, 2.3rem + 3vw, 4rem); /* h1 */

}

html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--color-secondary);
    color: var(--color-text);
}
nav {
    color: var(--color-primary);
}
main {

}
/* ----------------------------
   Standard breakpoint media queries
   XS: <576px, SM: 576-767.98px, MD: 768-991.98px,
   LG: 992-1199.98px, XL: >=1200px
   ---------------------------- */